name: Build & Push Docker Image

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Login Docker Hub
        run: echo "dckr_pat_uKGsPEp3-GD93q7KxVWIIoKVUGA" | docker login -u "yogikid2" --password-stdin

      - name: Build image
        run: docker build -t yogikid2/dev-env:latest .

      - name: Push
        run: docker push yogikid2/dev-env:latest
