name: Build Docker Image

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Build image
        run: docker build -t yogikid2/dev-env .

      - name: Login Docker Hub
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u yogikid2 --password-stdin

      - name: Push image
        run: docker push yogikid2/dev-env
